.navbar-default .navbar-nav>li>a.clear-dropdocn-link{
	color: #FFF;
	font-weight: 600;
}

.mb1 {
  margin-bottom: 1.5em !important;
}

.red {
  color: red !important;
}
.bg-black {
   /*background-color: #222;*/
   padding-top: 3em;
   padding-bottom: 5em;
   padding-left: 3em;
   padding-right: 3em;
   /*color: #222;*/
   /*text-shadow: 0 1px 1px #111111;*/
   background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.bg-black h2 {
   font-size: 40px;
   line-height: 50px;
   font-weight: bold;
   margin-bottom: 2em;
}

/*.box {
   width: 100%;
   border: 1px solid red;
   padding: 1em;
}*/
.hiw-icon {
    display: inline-block;
    width: 40%;
    height: 95px;
    background-repeat: no-repeat;
}
.text-block {
    text-align: center;
}
.text-block hr {
    width: 80px;
    margin-top: 23px;
    margin-bottom: 25px;
    height: 1px;
    /*border-top: 2px solid #ddd;*/
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  
}
.text-block h3 {
     margin-bottom: 10px;
    text-transform: uppercase;
}
.text-short {
    font-size: 15px;
    line-height: 22px;
}


.boxx {
  position: relative;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.box-img-top {
  position: relative;
  height: 180px;
  background-size: cover;
}
.box-content {
  position: relative;
  padding: 1em;
  padding-top: 0;
}
.box-content h3{
   color: #16A085;
   font-weight: bold;
}
.ylw {
   color: yellow !important;
   text-shadow: rgba(0,0,0,0.2)
}
.light {
   color: #9a9a9a !important;
}
.light-drk {
   color: #555 !important;
}
.box-footer {
   position: relative;
   padding: .8em;
   padding-top: 0;
}
.font-sm {
   font-size: 12px;
}

.bg-green {
    background-color: #222;
   padding-top: 3em;
   padding-bottom: 6em;
   padding-left: 3em;
   padding-right: 3em;
  
}

.bg-green h2 {
   font-size: 40px;
   line-height: 50px;
   font-weight: bold;
   margin-bottom: 2em;
}

.text {
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aimage {
  width: 30%;
  margin: 0 auto;
}

.btmbox {
  padding: 1em;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

.oouter {
  width: 1px;
  height: 50px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.iinner {
  position: absolute;
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}


/*user dashboars css*/
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
/*end of dashboard css*/


